<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
        <title>台北一日遊</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='member.css') }}">
    </head>
    <body>
<!--會員註冊-->
        
            <div class="dialogmask" id="signupDialog" style="display: none;">
                <div class="signupbox">
                    <div class="decoratorbar"></div>
                    <span class="closeicon"></span>
                    <div class="signup">
                        <div class="dialogtitle">註冊會員帳號</div>
                        <input class="signupsignin_input" placeholder="輸入姓名" id="signupname">
                        <input class="signupsignin_input" placeholder="輸入電子郵件" id="signupemail">
                        <input class="signupsignin_input" placeholder="輸入密碼" type="password" id="signuppassword">
                        <button class="signupsignin_enter" type="submit" id="signupbutton">註冊新帳號</button>
                        <div class="remindmsg" id="signuperrornote" ></div>
                        <div class="dialog_text_haveaccount">已經有帳號了？點此登入</div>
                    </div>
                </div>
            </div>
<!--會員登入-->
            <div class="dialogmask" id="loginDialog" style="display: none;">
                <div class="signinbox">
                    <div class="decoratorbar"></div>
                    <span class="closeicon_2"></span>
                    <div class="signin">
                        <div class="dialogtitle">登入會員帳號</div>
                        <input class="signupsignin_input" placeholder="輸入電子郵件" id="loginemail">
                        <input class="signupsignin_input" placeholder="輸入密碼" type="password" id="loginpassword">
                        <button class="signupsignin_enter" type="submit" id="loginbutton">登入帳號</button>
                        <div class="remindmsg" id="loginerrornote" ></div>
                        <div class="dialog_text_noaccount">還沒有帳號？點此註冊</div>
                    </div>
                </div>
            </div>
        

<!--表頭-->
        <div class="navbar">
            <div class="headline">
                <div class="left">台北一日遊</div>
                <div class="right-web">
                    <div class="item1">
                        <div class="item1-text">預定行程</div></div>
                    <div class="item2">
                        <div class="item2-text">登入/註冊</div></div>

                </div>
                
            </div>
        </div>
        <div class="welcome">
            <div class="welcome-image">
                <div class="slogan">
                    <div class="sloganbox">
                        <div class="slogan-title">
                        輕鬆享受台北一日悠閒
                        </div>
                        <div class="slogan-title-2">
                        探索每個角落，體驗城市的深度旅遊行程
                        </div>
                        <div class="searchbar">
                            <input class="search_input" placeholder="輸入景點名稱查詢">

                            
                            <button type="submit" class="search-button">
                                <div class="button-icon"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>          
        </div>

<!--景點區域-->
     <div class="content">
        <div class="list-bar">
            <button type="submit" class="left-container">
                <div class="arrow-left-icon"></div>
            </button>
           
        <div class="container">
            <div class="listitemcontainer"></div> 
        </div>              
            <button type="submit" class="right-container">
                <div class="arrow-right-icon"></div>
            </button>
        </div>
        <div class="attractions" id="attractions">
        </div>
    </div>
    <div class="footer">
        <div class="copyright">COPYRIGHT © 2021 台北一日遊
        </div>
    </div>        
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='member.js') }}"></script>    
</body>
</html>

