body{
    font-size: 20px;
    width: 100%;
    margin: 0;
    padding: 0;

}
@media (min-width: 1200px) and (max-width: 1920px)  {
   
    .headline{
        display: flex;
        align-items: center;
        padding: 5px;
        
    }
    
    .left{
        width:100px;
        align-items: center;
        display: flex;
        font-style:Noto Sans TC;
        
    }

    .right-web{
        display:flex;
        justify-content:flex-end;
        flex:auto;
        align-items: center;
        
    }
    .right-mobile{
        display: none;
    }


    .item{
        width:60px;
        text-align: center;

    }

    .welcome{
        background-color: #caf5fb;
        height: 250px;
        justify-content: center;
        display: flex;
        align-items: center;
        
       
    }
    .text{
        font-size: 40px;
        text-align: center;
    }

    .top3{
        display:flex;
        align-items: center;
        justify-content: center;
        width:1200px;
        margin: 0 auto;
        margin-top: 20px;
        
    }
    .top3-1{
        display:flex;
        margin: 10px;
        
    }
   
    .photo{
        width:80PX;
        height: 50px;
        object-fit:cover;
        align-items: center;
        justify-content: center;
        
      
    }

    .top3item{
        background-color: #b4dee3;
        align-items: center;
        height: 50PX;
        width:300px;
        display:flex;
        
         
        
    }
    .top3item-text{
        align-items: center;
        margin-left: 10px;  
        
    }


    .content{
        display:flex;
        flex-wrap:wrap; 
        align-items: center;
        justify-content: center;
        width:1200px;
        margin: 0 auto;
    }

    
    .product{
        margin:10px;   
        width: 15%;
        
        
                
    }

    .photo2{
        width:180px;
        height: 180px;
        object-fit:cover;
        align-items: center;
        justify-content: center;        
        display: block;
       

    }
    .productitem{
        background-color: #a9c8cc;
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 50PX;
        flex:none;
        

    }

    .productitem-text{
        text-align: center; 
        justify-content: center;
        display:flex;        

    }
 
    
    }
    
    @media  (max-width: 1200px) {
        /*螢幕小於1200PX，套用這個區塊的CSS*/
        .headline{
            display:flex;
            align-items: center;
            padding: 5px;
        }
        
        .left{
            width:100px;           
            align-items: center;
            
        }
    
        .right-web{
            display:flex;
            justify-content:flex-end;
            flex:auto;
            align-items: center;
            
        }
        .right-mobile{
            display: none;
        }
    
    
        .item{
            width:60px;
            text-align: center;
          
        }
    
        .welcome{
            background-color: #caf5fb;
            height: 250px;
            justify-content: center;
            display: flex;
            align-items: center;
            margin-bottom: 20PX;
          
        }
        .text{
            font-size: 40px;
            text-align: center;
        }
    
        .top3{
            display:flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px; 
            flex-wrap:wrap;
            width:90%;  
            margin: 0 auto;
            
        }
        .top3-1{
            display:flex;
            margin:1%;
            width:44%;
            flex:auto

        }
       
        .photo{
            width:80PX;
            height: 50px;
            object-fit:cover;
            align-items: center;
            justify-content: center;
           
          
        }
    
        .top3item{
            background-color: #b4dee3;
            align-items: center;
            height: 50PX;  
            flex:auto;
            display:flex;
          
            
        }
        .top3item-text{
            align-items: center;
            margin-left: 10px;  
           
        }
    
    
        .content{
            display:flex;
            flex-wrap:wrap; 
            width:90%;
            justify-content: center;  
            margin: 0 auto;
            align-items: center;   
            
            
        }
    
       
        .product{
            align-items: center;
            justify-content: center;          
            width:21.5%;
            margin:1%;   
            flex:auto;   
            height: auto; 
            
            

        }
    
        .photo2{
            width: 100%; /* 寬度自動調整以保持比例 */
            aspect-ratio: 4/3; /* 設定圖片的寬高比為 4:3，你可以根據需要調整這個比例 */
            object-fit: cover; /* 控制圖片在容器中的呈現方式 */
            display: block;
    
        }
        .productitem{
            background-color: #a9c8cc; 
            text-align: center;
            height: 45px;
            width: auto; /* 寬度自動調整以保持比例 */
            flex:auto;
            max-width: 100%; /* 圖片的最大寬度為方框的寬度 */
            align-items: center;
            display:flex;          
            
    
        }
    
        .productitem-text{
            text-align: center;       
            display:flex;
            flex:auto;
            justify-content: center;
            font-size: 15px;
            
        }
    
    
     
        
    }
    @media (min-width: 360px) and (max-width: 600px) {
        /*螢幕小於1200PX，套用這個區塊的CSS*/
        .headline{
            display:flex;
            align-items: center;
            padding: 5px;
        }
        
        .left{
            width:100px;
            align-items: center;
            
        }
    
        .right-web{
            display:none;
           
            
        }
        .right-mobile{
            display: flex;
            justify-content:flex-end;
            flex:auto;
            align-items: center;
        }
    
    
        .item{
            width:60px;
            text-align: center;
    
        }
    
        .welcome{
            background-color: #caf5fb;
            height: 250px;
            justify-content: center;
            display: flex;
            align-items: center;
            margin-bottom: 10PX;
          
        }
        .text{
            font-size: 30px;
            text-align: center;
        }
    
        .top3{
            display:flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px; 
            flex-wrap:wrap;
            width:90%;  
            margin: 0 auto;
            
        }
        .top3-1{
            display:flex;
            margin-top:10px;
            width:90%;
            flex:auto

        }
       
        .photo{
            width:80PX;
            height: 50px;
            object-fit:cover;
            align-items: center;
            justify-content: center;
           
          
        }
    
        .top3item{
            background-color: #b4dee3;
            align-items: center;
            height: 50PX;  
            flex:auto;
            display:flex;
          
            
        }
        .top3item-text{
            align-items: center;
            margin-left: 10px;  
        }
    
    
        .content{
            display:flex;
            flex-wrap:wrap; 
            width:90%;
            justify-content: center;  
            margin: 0 auto;
            align-items: center;   
            
            
        }
    
       
        .product{
            align-items: center;
            justify-content: center;          
            width:90%;
            margin-top:10px;   
            flex:auto;    
            height: auto;   
            

        }
    
        .photo2{
            width: 100%; /* 寬度自動調整以保持比例 */          
            object-fit: cover; /* 控制圖片在容器中的呈現方式 */
            display: block;
            aspect-ratio: 4/3;
    
        }
        .productitem{
            background-color: #a9c8cc; 
            text-align: center;
            height: 50PX;
            width: auto; /* 寬度自動調整以保持比例 */
            flex:auto;
            max-width: 100%; /* 圖片的最大寬度為方框的寬度 */
            align-items: center;
            display:flex;          
            
    
        }
    
        .productitem-text{
            text-align: center;        
            display:flex;
            flex:auto;
            justify-content: center;
    
        }
    
    
     
        
    }