<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
        <title>台北一日遊</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='member.css') }}">
    </head>
    <body>
    <div class="dialogmask">
        <div class="signupbox">
            <div class="decoratorbar"></div>
            <div class="closeicon"></div>
            <div class="signup">
                <div class="dialogtitle">註冊會員帳號</div>
                <input class="signupsignin_input" placeholder="輸入姓名">
                <input class="signupsignin_input" placeholder="輸入電子郵件">
                <input class="signupsignin_input" placeholder="輸入密碼" type="password">
                <button class="signupsignin_enter" type="submit" >註冊新帳號</button>>
                <div class="dialog_text">已經有帳戶了?點此登入</div>
            </div>
        </div>
    </div>
</body>
</html>