body{

    font-family: 'Noto Sans TC';
    margin: 0;
    justify-content: center;
    




}

@media (min-width: 1200px) and (max-width: 1920px)  {
   
    .navbar{
        height: 54px;
        width: 100%; 
        background-color: #FFFFFF;
        justify-content: center;
        display: flex;
        align-items: center;
        position: fixed;
        top:0px;
        z-index: 9999;



    }
    .headline{
        display: flex;
        height: 34px;
        width:1200px;
        justify-content: space-between;
        align-items:center ;

    }
    
    .link{
        text-decoration: none;

    }

    .left{
        width:150px;
        align-items: center;
        display: flex;
        font-style:Noto Sans TC;
        color: #448899;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 34px
        
    }

    .right-web{
        display:flex;
        align-items: center;
        width:175px;
        height: 34px;
        
    }

    .item1{
        width:64px;
        height: 14px;
        padding: 10px;
        display:flex;
        align-items: center;
    }
    .item2{
        width:71px;
        height: 14px;
        padding: 10px;
        align-items: center;
        display:flex;
    }
    .item1-text{
        width:64px;
        height: 14px;
        font-size: 16px;
        line-height: 13.3px;
        font-style: normal;
        font-weight: 500;
        color: #666666;
        justify-content: center;
        align-items: center;
        display:flex;
        cursor: pointer;
    }

    .item2-text{
        width:71px;
        height: 14px;
        font-size: 16px;
        line-height: 13.3px;
        font-style: normal;
        font-weight: 500;
        color: #666666;
        justify-content: center;
        align-items: center;
        display:flex;
        cursor: pointer;

    }

    .hr1 {
        border-style: none;
        background-color: #E8E8E8;
        height: 1px;
        top:54px;
        width: 100%;
        justify-content: center;
        display: flex;
        position: fixed;
        margin-block-start: 0em;
        margin-block-end: 0em;

    }
    .content{
        margin-top:94px;
        display: flex;
        justify-content: center ;
        flex-wrap: wrap;
        flex-direction: column;
        
        

    }
    .headline_hello{
        width: 1000px;
        height: 27px;
        display: flex;
        margin: 0 auto;


    }
    .headline_style{
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        color:#666;
    }

    .section{
        justify-content: center;
        display: flex;
        margin-top: 35px;
        margin-bottom: 40px;
    }
    .picture{
        width: 250px;
        height: 200px;
        background-color: #448899;
        margin-right: 30px;
    }
    .bookingpicture{
        width: 250px;
        height: 200px;

        margin-right: 30px;
    }
    .infor{
        width: 700px;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .title{
        height: 14px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 20px;
        display: flex;

    }
    .taipeidaytrip{
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 13.3px;
        color:#489;

    }
    .inforframe{
        height: 14px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        display: flex;

    }
    .inforstyle{
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 13.3px;
        color:#666;
    }
    .infor-textstyle{
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 13.3px;
        color:#666;
    }
    .deleteicon{
        background-image: url('/static/delete.png');
        width: 30px;
        height: 30px;
        position: absolute;
        margin-left: 670px;
        
    }


    .hr2 {
        border-style: none;
        background-color: #E8E8E8;
        height: 1px;
        width: 100%;
        max-width: 1200px;
        justify-content: center;
        display: flex;
        margin-block-start: 0em;
        margin-block-end: 0em;
        
    }
    .contactform{
        margin-top: 40px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        
        
    }
    .contactform_title{
        width: 980px;
        height: 24px;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        color:#666;
        margin-bottom: 20px;
        align-items: center;

    }

    .contactframe{
        display: flex;
        width: 980px;
        height: 38px;
        align-items: center;
        margin-bottom: 15px;
    }

    .contactstyle{
        font-family: Noto Sans TC;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 13.3px;
        color:#666;

    }
    .contact_input{
        border-radius: 5px;
        width: 180px;
        height: 18px;
        padding: 10px;
        border: 1px solid;
        border-color: #E8E8E8;



    }

    .rimindnote{
        width: 608px;
        height: 24px;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 13.3px;
        margin-top: 5px;
        color: #666;
        margin-bottom: 45px;
        align-items: center;
        display: flex;
    }

    .payment{
        margin-top: 40px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .confirm{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        width: 980px;
        height: 100px;
        align-items: flex-end;
    }
    .final{
        display: flex;
        align-items: center;
        margin-bottom: 22px;
        
    }
    .finalprice{
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 13.3px;
        color: #666;
    }
    .finalcost{
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 13.3px;
        color: #666;
        margin-left: 5px;
        margin-right: 5px;
    }
    .confirm-button{
        width: 173px;
        height: 36px;
        padding: 10px 20px;
        background-color: #489;
        border: 0px;
        border-radius: 5px;
        color:#FFF;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px
    }

    .footer{
        display: flex;
        max-width: 1920px;
        width: 100%;
        height: 104px;
        align-items: center;
        justify-content: center;
        background: #757575;
        
        
        
        

    }
    .copyright{
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 13.3px;
        color:#FFF
    }

    .nullDataText{
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 13.3px;
        color:#666;
        width: 1000px;
        display: flex;
        margin: 0 auto;
    }

}




    
    @media  (min-width: 751px) and (max-width: 1200px) {
        /*螢幕小於1200PX，套用這個區塊的CSS*/
        .navbar{
            height: 54px;
            max-width: 1200px;
            width: 100%; 
            background-color: #FFFFFF;
            justify-content: center;
            display: flex;
            align-items: center;
            position: fixed;
            top:0px;
            z-index: 9999;
            flex: auto;
    
    
    
        }
        .headline{
            display: flex;
            height: 34px;
            justify-content: space-between;
            align-items:center ;
            max-width: 1200px;
            flex: auto;
        }
        .link{
            text-decoration: none;
    
        }
        .left{
            width:150px;
            align-items: center;
            display: flex;
            font-style:Noto Sans TC;
            color: #448899;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 34px;
            margin-left: 10px;
            
            
        }
    
        .right-web{
            display:flex;
            align-items: center;
            width:175px;
            height: 34px;
            
            
        }
    
        .item1{
            width:64px;
            height: 14px;
            padding: 10px;
            display:flex;
            align-items: center;
        }
        .item2{
            width:71px;
            height: 34px;
            padding: 10px;
            align-items: center;
            display:flex;
        }
        .item1-text{
            width:64px;
            height: 14px;
            font-size: 16px;
            line-height: 13.3px;
            font-style: normal;
            font-weight: 500;
            color: #666666;
            justify-content: center;
            align-items: center;
            display:flex;
            cursor: pointer;
        }
    
        .item2-text{
            width:71px;
            height: 14px;
            font-size: 16px;
            line-height: 13.3px;
            font-style: normal;
            font-weight: 500;
            color: #666666;
            justify-content: center;
            align-items: center;
            display:flex;
            cursor: pointer;
    
        }
        .hr1 {
            border-style: none;
            background-color: #E8E8E8;
            height: 1px;
            top:54px;
            width: 100%;
            justify-content: center;
            display: flex;
            position: fixed;
            margin-block-start: 0em;
            margin-block-end: 0em;
    
        }
        .content{
            justify-content: center;
            display: flex;
            margin-top:94px;
            flex-wrap: wrap;
            
            
    
        }
     
        .headline_hello{
            width:90%;
            height: 27px;
            display: flex;
            margin: 0 auto;

    
    
        }
        .headline_style{
            font-size: 19px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            color:#666;
        }
    
        .section{
            justify-content: center;
            display: flex;
            margin-top: 35px;
            width: 90%;
        }
        .picture{
            width: 25%;
            height: 200px;
            background-color: #448899;
            margin-right: 30px;
        }
        .bookingpicture{
            width: 100%;
            height: 200px;
            object-fit: cover;
            margin-right: 30px;
        }

        .infor{
            width: 75%;
            display: flex;
            flex-direction: column;
            position: relative;
        }
        .title{
            height: 14px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-bottom: 20px;
            display: flex;
    
        }
        .taipeidaytrip{
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 13.3px;
            color:#489;
    
        }
        .inforframe{
            height: 14px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-bottom: 10px;
            display: flex;
    
        }
        .inforstyle{
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 13.3px;
            color:#666;
        }
        .infor-textstyle{
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 13.3px;
            color:#666;
        }
        .deleteicon{
            background-image: url('/static/delete.png');
            width: 30px;
            height: 30px;
            position: absolute;
            margin-left: 90%;
            
        }
    
    
        .hr2 {
            border-style: none;
            background-color: #E8E8E8;
            height: 1px;
            width: 95%;
            margin-top: 40px;
            margin-bottom: 40px;
            
        }
        
        .contactform{

            justify-content: center;
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            
            
        }
        .contactform_title{
            width: 90%;
            height: 24px;
            padding-top: 4px;
            padding-bottom: 4px;
            font-size: 19px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            color:#666;
            margin-bottom: 20px;
            align-items: center;
    
        }
    
        .contactframe{
            display: flex;
            width: 90%;
            height: 38px;
            align-items: center;
            margin-bottom: 15px;
        }
    
        .contactstyle{
            font-family: Noto Sans TC;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 13.3px;
            color:#666;
    
        }
        .contact_input{
            border-radius: 5px;
            width: 180px;
            height: 18px;
            padding: 10px;
            border: 1px solid;
            border-color: #E8E8E8;
    
    
    
        }
    
        .rimindnote{
            width: 608px;
            height: 24px;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 13.3px;
            margin-top: 5px;
            color: #666;
            margin-bottom: 5px;
            align-items: center;
            display: flex;
        }
    
        .payment{

            justify-content: center;
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;

            width: 90%;
        }
        .confirm{

            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;
            width: 90%;
            height: 100px;
            align-items: flex-end;
        }
        .final{
            display: flex;
            align-items: center;
            margin-bottom: 22px;
            
        }
        .finalprice{
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 13.3px;
            color: #666;
        }
        .finalcost{
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 13.3px;
            color: #666;
            margin-left: 5px;
            margin-right: 5px;
        }
        .confirm-button{
            width: 173px;
            height: 36px;
            padding: 10px 20px;
            background-color: #489;
            border: 0px;
            border-radius: 5px;
            color:#FFF;
            font-size: 19px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px
        }
        
        .footer{
            display: flex;
            max-width: 1200px;
            width: 100%;
            height: 84px;
            align-items: center;
            justify-content: center;
            background: #757575;
            bottom: 0;
    
        }
        .copyright{
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 13.3px;
            color:#FFF
        }
        .nullDataText{
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 13.3px;
            color:#666;
            width: 100%;
            display: flex;
            margin-bottom: 40px;
            
        }

    }

    @media (min-width: 360px) and (max-width: 750px) {
        .navbar{
            height: 54px;
            width: 100%; 
            max-width: 750px; 
            background-color: #FFFFFF;
            justify-content: center;
            display: flex;
            align-items: center;
            position: fixed;
            top: 0;
            z-index: 9999;
            flex: auto;
    
    
    
        }
        .headline{
            display:flex;
            height: 34px;
            width: 100%;
            justify-content: space-between;
            align-items:center ;
            max-width: 750px;
            flex:auto;
    
        }
        .link{
            text-decoration: none;
    
        }
        .left{
            width:150px;
            align-items: center;
            display: flex;
            font-style:Noto Sans TC;
            color: #448899;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 34px;
            margin-left:10px;
            
        }
    
        .right-web{
            display:flex;
            align-items: center;
            width:175px;
            height: 34px;
            
        }
    
        .item1{
            width:64px;
            height: 14px;
            padding: 10px;
            display:flex;
            align-items: center;
        }
        .item2{
            width:71px;
            height: 14px;
            padding: 10px;
            align-items: center;
            display:flex;
        }
        .item1-text{
            width:64px;
            height: 14px;
            font-size: 16px;
            line-height: 13.3px;
            font-style: normal;
            font-weight: 500;
            color: #666666;
            justify-content: center;
            align-items: center;
            display:flex;
            cursor: pointer;
        }
    
        .item2-text{
            width:71px;
            height: 14px;
            font-size: 16px;
            line-height: 13.3px;
            font-style: normal;
            font-weight: 500;
            color: #666666;
            justify-content: center;
            align-items: center;
            display:flex;
            cursor: pointer;
    
        }
        .hr1 {
            border: 0.5px solid #E8E8E8;
            top:54px;
            width: 100%;
            
            color:#E8E8E8 ;
            justify-content: center;
            display: flex;
            position: fixed;
            margin-block-start: 0em;
            margin-block-end: 0em;
    
        }
        .content{
            flex-direction: column;
            display: flex;
            margin-top:54px;
            flex-wrap: wrap;
            width: auto;
            height: auto;

            margin-left: 10px;
            margin-right: 10px;

        }
   
        .headline_hello{

            height: 24px;
            display: flex;
            margin-top: 42px;



    
    
        }
        .headline_style{
            font-size: 19px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            color:#666;
        }
    
        .section{
            justify-content: center;
            display: flex;
            flex-direction: column;


        }
        .picture{
            width: auto;
            height: 200px;
            background-color: #448899;
            justify-content: center;
            display: flex;
            margin-bottom: 30px;
            margin-top: 31px;
        }
        .bookingpicture{
            width: 100%;
            height: 100%;
            object-fit: cover;
            justify-content: center;
            display: flex;
            margin-bottom: 30px;
            
        }

        .infor{
            width: auto;
            display: flex;
            flex-direction: column;
            position: relative;
        }
        .title{
            height: 14px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-bottom: 20px;
            display: flex;
    
        }
        .taipeidaytrip{
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 13.3px;
            color:#489;
    
        }
        .inforframe{
            height: 14px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-bottom: 10px;
            display: flex;
    
        }
        .inforstyle{
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 13.3px;
            color:#666;
        }
        .infor-textstyle{
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 13.3px;
            color:#666;
        }
        .deleteicon{
            background-image: url('/static/delete.png');
            width: 30px;
            height: 30px;
            position: absolute;
            right: 0; 
            bottom: 0; 

            
        }
    
        .hr2 {
            border-style: none;
            background-color: #E8E8E8;
            height: 1px;
            width: 100%;

            margin-top: 30px;
            margin-bottom: 40px;
            
        }
        
        .contactform{

            justify-content: center;
            display: flex;
            flex-direction: column;

            width: auto;
            
            
        }
        .contactform_title{
            width: auto;
            height: 24px;
            padding-top: 4px;
            padding-bottom: 4px;
            font-size: 19px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            color:#666;
            margin-bottom: 20px;
            align-items: center;
    
        }
    
        .contactframe{
            display: flex;
            width: auto;
            height: 38px;
            align-items: center;
            margin-bottom: 15px;
        }
    
        .contactstyle{
            font-family: Noto Sans TC;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 13.3px;
            color:#666;
    
        }
        .contact_input{
            border-radius: 5px;
            width: 180px;
            height: 18px;
            padding: 10px;
            border: 1px solid;
            border-color: #E8E8E8;
    
    
    
        }
    
        .rimindnote{
            width: auto;
            height: 48px;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 13.3px;
            margin-top: 5px;
            color: #666;
            margin-bottom: 10px;
            align-items: center;
            display: flex;
            line-height: normal;
        }
    
        .payment{
            justify-content: center;
            display: flex;
            flex-direction: column;
            width: auto;
        }
        .confirm{

            display: flex;
            flex-direction: column;

            margin-bottom: 40px;
            width: auto;
            height: 100px;
            align-items: flex-end;
        }
        .final{
            display: flex;
            align-items: center;
            margin-bottom: 22px;
            
        }
        .finalprice{
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 13.3px;
            color: #666;
        }
        .finalcost{
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 13.3px;
            color: #666;
            margin-left: 5px;
            margin-right: 5px;
        }
        .confirm-button{
            width: 173px;
            height: 36px;
            padding: 10px 20px;
            background-color: #489;
            border: 0px;
            border-radius: 5px;
            color:#FFF;
            font-size: 19px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px
        }
       
       
    
       
        .footer{
            display: flex;
            max-width: 750px;
            width: 100%;
            height: 84px;
            align-items: center;
            justify-content: center;
            background: #757575;
            bottom: 0;
    
        }
        .copyright{
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 13.3px;
            color:#FFF
        }
    

        .nullDataText{
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 13.3px;
            color:#666;
            display: flex;
            margin-top: 40px;
            margin-bottom: 40px;
        }
       

    


    }